<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>TestServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Addition</servlet-name>
  	<servlet-class>com.java.servlets.AddProgram</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addition</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>initServlet</servlet-name>
  	<servlet-class>com.java.servlets.InitCounter</servlet-class>
  		<init-param>  
			<param-name>initial</param-name>  
			<param-value>0</param-value>  
		</init-param>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>initServlet</servlet-name>
  	<url-pattern>/init</url-pattern>
  </servlet-mapping>
  
   <context-param>  
		<param-name>JDBCDriver</param-name>  
		<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>  
   </context-param>  
   
   <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.java.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<servlet-class>com.java.servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WelcomeServlet</servlet-name>
  	<url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
</web-app>